<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} | Troy's Memorial Website</title>
<meta name="description" content="In memory of Troy Mackenzie White Matthews (Troy Troy).">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/troy.css">
</head>
<body>

<div id="content">

<header id="site-header">
  <a href="/">
    <img class="train screen-only" src="/images/darkmovingtrain2.gif" alt="An animated train crossing the top of the page">
    <img class="train print-only" src="/images/statictrain.gif" alt="A train">
  </a>
</header>

<div id="middle">

<nav id="site-nav">
{% include main-nav.html %}
</nav>

<main>
{{ content }}
</main>

</div>

<footer id="site-footer">
  <p>Contact sheldon at tooshel dot com if you have any questions.</p>
</footer>

</div>

</body>
</html>
